@charset "utf-8";
:root {
    --main-color: #007bff;
}
.ut-menu button{
    font-size: 13px;
}
.ut-menu a{
    color: black;
    font-size: 13px;
}
.ut-menu a:hover{
   text-decoration: none;
   color: var(--main-color);
}

.nav-link:hover{
   color: var(--main-color);
}

.sub-nav{
   height: 0px;
   right: 0;
   top: 100%;
   overflow: hidden;
   transition: 0.4s;
   z-index: 10;
}

.nav-item:hover .sub-nav, .sub-nav:hover{
   height: 320px;
}

.sub-nav ul {
   list-style: none;
}

.sub-title {
   border-bottom: 2px solid var(--main-color);
}

.slide-image {
   width: 100%;
   height: calc(100vh - 130px);
}

.slide-item{
   width: 100%;
   height: 100%;
   position: relative;
}
.slide-caption{
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.5);
   position: absolute;
   width: 100%;
   color: white;
   padding: 20px;
}

.tab-menu{
   height: 240px;
   overflow-y: auto;
}

.title{
   text-align: center;
}

.popup{

   max-width: 400px;
   max-height: 400px;
}

.date{
   color: var(--main-color);
}

.event-list{
   height: 250px;
   overflow-y: scroll;
}

.line {
   width: 5px;
   height: 480px;
   background: var(--main-color);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   margin: 20px 30px;
}

.dot {
   width: 20px;
   height: 20px;
   border-radius: 10px;
   background: var(--main-color);
}

.time-container {
   display: flex;
   justify-content: center;
   align-items: center;
}

.time-card {
   box-shadow: 0 4px 10px -4px black;
   border-radius: 10px;
   width: 20vw;
}

.time-box{
   height: 560px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.time-body {
   list-style: square;
   list-style-position: inside;
   padding: 14px;
   margin: 0;
   font-size: 13px;
}

.time-header {
   background: var(--main-color);
   color: white;
   padding: 8px 16px;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}

.box-lt {
   justify-content: space-evenly;
}

.banner {
   white-space: nowrap;
}

.banner .carousel {
   display: inline-block;
}

footer{
   background: #DEE4EA;
   text-align: center;
}
footer a{
   margin: 0 10px;
   color: #000;
}

footer a:hover{
   text-decoration: none;
}

.c-text a:hover{
    text-decoration: none;
}
.c-text a h5, .c-text h4{
    margin: 0;
}
.ago{
    color: gainsboro;
}

.calender td:nth-child(1):not(.ago){
    color: red;
}
.calender td:nth-child(7):not(.ago){
    color: blue;
}
.calender tr:not(.table-primary){
    height: 80px;
}
